# 忽略所有log记录
logs
 
# 忽略所有node_modules
node_modules

# 忽略test目录文件
test

# 忽略部署脚本
script

# 忽略所有.swp文件
*.swp

# 忽略config目录文件
src/config

# 忽略env文件
.env

# 忽略自动配置
ecosystem.config.js

# 备份版本
backups

# 编译版本
build

# 去重数据
data

deployment.md